.block-navigation-adaptive{
		background-color: #f0e2d7;
		width: 100%;
		position: sticky;
		top: 0px;
		display: flex;
		font-size: 0.8rem;
		text-decoration: none;
		text-transform: uppercase;
		z-index: 1;
	}