
.block-large1{
	background: url(../images/home-img.jpg);
	background-size: cover;
	background-position:  50% 0px;
	background-repeat: no-repeat;
	height: auto;
	width-max: 100%;
}

.block-large1__title{
	position: absolute;
	margin-left: 175px;
	margin-top: 35px;
	text-shadow: 1px 1px 0px #fff;
}