.block{
	display: flex;
	/*align-items: flex-start;*/
	flex-wrap: wrap;
	font-family: 'Nanum Gothic', sans-serif;
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*{
	box-sizing: border-box;
}

/*--------------start size---------------*/
.block-large_size{
	width: 50%;
	height: 819px;
}
.block-horizontal_size{
	width: 50%;
	height: 345px;
}
.block-small_size{
	width: 25%;
	height: 345px;
}
.block-horizontal-max_size{
	width: 50%;
	height: 350px;
}
.block-horizontal-full-wide_size{
	width: 100%;
	height: 340px;
}
.block-middle_size{
	width: 50%;
	height: 611px;
}
.block-vertical_size{
	width: 25%;
	height: 611px;
	position: relative;
}

.footer_size{
	width: 100%;
	height: 380px;
}
/*-------------end size---------------*/

.block-large1{
	background: url(../images/home-img.jpg);
	background-size: cover;
	background-position:  50% 0px;
	background-repeat: no-repeat;
	height: auto;
	width-max: 100%; 

}

.block-large1__title{
	display: flex;
	position: absolute;
	margin-left: 175px;
	margin-top: 35px;
	font-size: 20px;
	text-shadow: 1px 1px 0px #fff;
}
.block-large2{
	background-color: #f0e2d7;
}
.navigation{
	display: flex;
	justify-content: center;
	margin-top: 22px;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
}
.text-decoration{
	text-decoration: none;
	margin-right: 33px;
	color: #28292d;
}
.text-decoration:hover{
	color: #e4ae58;
}

.navigation__link5{
	margin-right: 0;
}

.block-large2__welcome-text{
	margin-left: 42px;
	margin-top: 195px;
	margin-bottom: 18px;
	color: grey;
	word-spacing: 5px;
}

.block-large2__text1{
	width: 80%;
	margin-left: 42px;
	font-size: 32px;	

}
.block-large2__text2{
	width: 80%;
	margin-left: 42px;
	margin-top: 37px;
	font-size: 16px;
	color: grey;
}

.button-get-started{
	width: 175px;
	height: 50px;
	border-color: #28292d;
	background: rgba(255, 255, 255, 0);
	border-radius: 25px;
	border-width: 3px;
	font-size: 12px;
	margin-left: 42px;
	margin-top: 35px;
}
.button-get-started:hover{
	border-color: solid #e4ae58;
	color: #e4ae58; 
}

.block-horizontal1{
	background-color: white;
}
.block-horizontal1__title{
	margin-left: 35px;
	margin-top: 55px;
}
.block-horizontal1__short-text{
	margin-left: 35px;
	margin-top: 35px;
	width: 80%;
	color: #e4ae58; 
}
.block-horizontal1__text{
	margin-left: 35px;
	margin-top: 35px;
	width: 80%;
	color: grey; 
}

.block-small1{
	background: url(../images/about-img.jpg);
	background-size: cover;
	background-position:  50% 0px;
	background-repeat: no-repeat;
	height: auto;
	width-max: 100%; 
}

.block-small2{
	background-color: #e4ae58;
}

.block-small2__title{
	margin-top: 55px;
	margin-left: 50px;
	color: white;
	font-size: 35px;
}
.block-small2__skills{
	margin-top: 20px;
	margin-left: 50px;
	color: white;
	font-size: 15px;
}

/*----------skill bar-------------*/
.container {
	width: 80%;  
	background-color: white;
	margin-left: 50px;
	height: 2px;

}
.skills {
	text-align: right;  
	color: white;  
	height: 2px;
}
.Frontend-Desigh {
	width: 90%;
	background-color: #161616;
} 
.Backend-Processing {
	width: 70%;
	background-color: #161616;
} 
.HTML5-CSS3 {
	width: 80%; 
	background-color: #161616;
} 
.Skill-Bar__text{
	margin-left: 50px;
	margin-bottom: 11;
	font-size: 12px;
	display: inline-block;

}
.Skill-Bar__percent{
	display: inline-block;
	color: white;
	margin-right: -50px;
	font-size: 12px;
}

/*-----------skill bar end-------------*/

.block-small3{
	background-color: #e4ae58;
	color: white;
}
.block-small3__content{
	height: 90%;
	margin-top: 0px;
	padding-top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
}
.block-small3__content__icon{
	font-size: 65px;
	margin: 0;
	padding: 0;
}
.block-small3__content__title{
	font-size: 25px;
	margin-top: 15px;
	padding: 0;
	margin-bottom: 0;
}
.block-small3__content__text{
	font-size: 14px;
	margin-top: 25px;
	padding: 0;
	margin-bottom: 0;
	width: 86%;
}


.block-small4{
	background-color: #e9714c;
	color: white;
}
.block-small4__content{
	height: 90%;
	margin-top: 0px;
	padding-top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
}
.block-small4__content__icon{
	font-size: 65px;
	margin: 0;
	padding: 0;
}
.block-small4__content__title{
	font-size: 25px;
	margin-top: 15px;
	padding: 0;
	margin-bottom: 0;
}
.block-small4__content__text{
	font-size: 14px;
	margin-top: 25px;
	padding: 0;
	margin-bottom: 0;
	width: 86%;
}

.block-small5{
	background-color: #28292d;
	color: white;
}
.block-small5__content{
	height: 90%;
	margin-top: 0px;
	padding-top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
}
.block-small5__content__icon{
	font-size: 65px;
	margin: 0;
	padding: 0;
}
.block-small5__content__title{
	font-size: 25px;
	margin-top: 15px;
	padding: 0;
	margin-bottom: 0;
}
.block-small5__content__text{
	font-size: 14px;
	margin-top: 25px;
	padding: 0;
	margin-bottom: 0;
	width: 86%;
}

.block-small6{
	background-color: white;
	color: #28292d  ;
}
.block-small6__content{
	height: 90%;
	margin-top: 0px;
	padding-top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
}
.block-small6__content__icon{
	font-size: 65px;
	margin: 0;
	padding: 0;
}
.block-small6__content__title{
	font-size: 25px;
	margin-top: 15px;
	padding: 0;
	margin-bottom: 0;
}
.block-small6__content__text{
	font-size: 14px;
	margin-top: 25px;
	padding: 0;
	margin-bottom: 0;
	width: 86%;
}

.block-horizontal2{
	background: url(../images/experience-img.jpg);
	background-size: cover;
	background-position:  50% 0px;
	background-repeat: no-repeat;
	height: auto;
	width-max: 100%; 
}
.block-horizontal3{
	background-color: #e9714c;
}
.block-horizontal3__content{
	margin-left: 60px;
	margin-top: 30px; 
	color: white;
}
.block-horizontal3__content_title{
	font-size: 30px;
	margin: 0;
	padding: 0;
}
.block-horizontal3__content_text{
	font-size: 14px;
}
.block-horizontal3__content__designer1{
	display: flex;

}
.designer1__content__icon{
	font-size: 35px;
	margin-top: 0;
	padding: 0;

}
.designer1__content__title{
	font-size: 22px;
	margin-top: 10px;
	padding-top: 0;
	margin-left: 30px;

}
.designer1__content__date{
	color: #5f3340;
	padding-top: 0;
	margin-left: 10px;

}
.designer1__content__text{
	font-size: 12px;
	margin-left: 65px;
	margin-top: -20px;
	width: 80%;
	padding-top: 0;
}


.block-horizontal3__content__designer2{
	display: flex;

}
.designer2__content__icon{
	font-size: 35px;
	margin-top: 0;
	padding: 0;


}
.designer2__content__title{
	font-size: 24px;
	margin-top: 10px;
	padding-top: 0;
	margin-left: 30px;

}
.designer2__content__date{
	color: #5f3340;
	padding-top: 0;
	margin-left: 10px;

}
.designer2__content__text{
	font-size: 12px;
	margin-left: 65px;
	margin-top: -20px;
	width: 80%;
	padding-top: 0;
}

.block-horizontal-max1{
	background-color: #e4ae58 ;
}
/* 
------------------- */
.block-horizontal-max1__content{
	margin-left: 60px;
	margin-top: 30px; 
	color: white;
}
.block-horizontal-max1__content_title{
	font-size: 30px;
	margin: 0;
	padding: 0;
}
.block-horizontal-max1__content_text{
	font-size: 14px;
}
.block-horizontal-max1__content__designer1{
	display: flex;

}
.block-horizontal-max1__content__designer2{
	display: flex;
}

/*------------------
*/

.block-horizontal-max2{
	background: url(../images/education-img.jpg);
	background-size: cover;
	background-position:  50% 0px;
	background-repeat: no-repeat;
	height: auto;
	width-max: 100%; 
}

.block-horizontal-full-wide{
	background-image: url(../images/quotes-bg.jpg);
	background-color: black;
	background-size: cover;
	background-position:  50% 0px;
	background-repeat: no-repeat;
	width-max: 100%; 
	position: relative;
}
.block-horizontal-full-wide__components{
	position: absolute;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
	z-index: 1;
	margin-top: 30px;
}
.block-horizontal-full-wide__components__text{
	width: 60%;
}

.block-middle{
	background-color: #e9714c;
}
.block-middle__content{
	display: flex;
	flex-direction: column; 
	margin-top: 50px;
	margin-left: 35px;
	color: white;
}
.block-middle__content__hello{
	font-size: 35px;
}
.block-middle__content__text{
	width: 80%;
	margin-top: -10px;
}
.input-style{
	background: none;
	border: none;
	border-bottom: 1px solid #e4ae58 ;
	color: white;
	width: 80%;
	font-size: 16px;
}
::placeholder {
	color: white;
}
.block-middle__content__input-name{
	height: 50px;
}
.block-middle__content__input-mail{
	height: 50px;
}
.block-middle__content__input-message{
	height: 150px;
	font-family: 'Nanum Gothic', sans-serif;
	margin-top: 10px;
}

.button-send{
	color: #161616;
	width: 300px;
	height: 45px;
	background: white;
	border: none;
	border-radius: 25px;
	font-size: 16px;
	margin-left: 42px;
	margin-top: 35px;
}

.block-vertical1{
	background: url(../images/contact-img.jpg);
	background-size: cover;
	background-position:  50% 0px;
	background-repeat: no-repeat;
	height: auto;
	width-max: 100%; 
}

.block-vertical2{
	background-color:  #161616;
	color: white;
	display: flex;
	flex-direction: column; 

}
.block-vertical2__content{
	margin-top: 55px;
	margin-left: 50px;
}
.block-vertical2__content__office{
	font-size: 24px;
}
.block-vertical2__content__adress{
	font-size: 12px;
	color: grey;
}
.block-vertical2__content__contact{
	font-size: 24px;
}
.block-vertical2__content__contacts__phone{
	color: grey;
}

.block-vertical2__content__contacts__mail{
	text-decoration: none;
	color: #e4ae58;

}
.block-vertical2__content__contacts__mail:hover{
	color: #28292d;
}
.block-vertical2__content__contacts__site{
	text-decoration: none;
	color: #e4ae58;

}
.block-vertical2__content__contacts__site:hover{
	color: #28292d;
}


.footer{
	background-color: white;
}
.footer__content{
	color: grey;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
	height: 100%;
	text-decoration: none;
}
.footer__content__icons{
	display: inline-flex;
}

/*1140*/
/*1280*/


/* -----------------media-----------------*/
/* при ширине экрана 1140пк и менее - будет выполнен медиазапрос*/
@media (max-width: 1140px) {
	.block{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column; 
		box-sizing: border-box;
	}
	
	.block-large_size{
		width: 100%;
		height: 819px;
	}
	.block-horizontal_size{
		width: 100%;
		height: 345px;
	}
	.block-small_size{
		width: 100%;
		height: 345px;
	}
	.block-horizontal-max_size{
		width: 100%;
		height: 350px;
	}
	.block-horizontal-full-wide_size{
		width: 100%;
		height: 340px;
	}
	.block-middle_size{
		width: 100%;
		height: 611px;
	}
	.block-vertical_size{
		width: 100%;
		height: 611px;
		position: relative;
	}

	.footer_size{
		width: 100%;
		height: 380px;
	}
	.block-small3__content__text{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.block-small4__content__text{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.block-small5__content__text{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.block-small6__content__text{
		display: flex;
		align-items: center;
		justify-content: center;
	}


}