body{
	background-color: lightgrey;
	margin-top: 0;
}
div{
	width: 1160px;
	height: 100px;
	background-color: #FFF;
	border: 1px solid rgb(234,234,234);
	border-radius: 3px;
	color: white;
	margin: 0 auto;	
	margin-top: 5px;
}
button{
	color: white;
	border-radius: 5px;
	-webkit-box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.25);
	-moz-box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.25);
	box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.25);
	font-size: 9px;
	border: none;
}

.block_main{
	width: 1195px;
	height: 900px;
	margin: 0 auto;
	background-color: white;
	padding: 0;
	border: none;
}

.block_white{
	position: relative;
	height: 150px;
	top: -260px; 
	z-index: 5;
}
.block_black{
	position: relative;
	height: 150px;
	top: -260px; 
	background-color: #404040;
}

.block_white__button.block_black__button {
	margin-left: 50px;
	margin-top: 20px;
	background: rgba(0,0,0,0);
	border: none;
}


.block_white__button {
	margin-left: 50px;
	margin-top: 20px;
	background: rgba(0,0,0,0);
	border: none;
}

.block_white__button_pink{
	width: 140px;
	height: 35px;
	font-size: 14px;
	background: linear-gradient(to top, #FA0062,#F070BD);
}
.block_white__button_green{
	width: 77px;
	height: 22px;
	background: linear-gradient(to top, #368C18,#6BE141);
	margin-top: 10px;
}
.block_white__button_blue{
	background: linear-gradient(to top, #1C3CA6,#7288DF);
	width: 70px;
	height: 22px;
	margin-top: 10px;
}

.block_white__button_red{
	background: linear-gradient(to top, #8F141D,#DF777E);
	width: 70px;
	height: 22px;
	margin-top: 10px;
}
.block_white__button_orange{
	background: linear-gradient(to top, #F1A132,#DFAA77);
	width: 82px;
	height: 21px;
	margin-top: 10px;
}
.block_white__button_yellow{
	background: linear-gradient(to top, #C6B30C,#F1E78E);
	width: 82px;
	height: 21px;
}

.block_white__button.block_white__button_blue{
	width: 222px;
	height: 221px;
}

/*----------------*/

.block_black__button {
	margin-left: 50px;
	margin-top: 20px;
	background: rgba(0,0,0,0);
	border: none;
}

.block_black__button_pink{
	width: 140px;
	height: 35px;
	font-size: 14px;
	background: linear-gradient(to top, #FA0062,#F070BD);
}
.block_black__button_green{
	width: 77px;
	height: 22px;
	background: linear-gradient(to top, #368C18,#6BE141);
	margin-top: 10px;
}
.block_black__button_blue{
	background: linear-gradient(to top, #1C3CA6,#7288DF);
	width: 70px;
	height: 22px;
	margin-top: 10px;
}

.block_black__button_red{
	background: linear-gradient(to top, #8F141D,#DF777E);
	width: 70px;
	height: 22px;
	margin-top: 10px;
}
.block_black__button_orange{
	background: linear-gradient(to top, #F1A132,#DFAA77);
	width: 82px;
	height: 21px;
	margin-top: 10px;
}
.block_black__button_yellow{
	background: linear-gradient(to top, #C6B30C,#F1E78E);
	width: 82px;
	height: 21px;
}

.block_black__button.block_white__button_blue{
	width: 222px;
	height: 221px;
}
/*-----------*/


.icons__logo{
	width: 376px;
	height: 93px;
	border-radius: 0px;
	justify-content: center;
	display: flex;
	font-size: 30px;
	color: grey;
	background-color: white;
	background: rgba(255,255,255,0.9);
	border: 1px solid rgb(234,234,234);
	/*opacity: 0.6;*/
	margin-top: 0px;
	z-index: 2;
}
.icons{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 256px;
	margin: 0 auto;
	padding-top: 0;
	overflow: hidden;
	position: relative;
}

.icons__text{
	margin-top: 12px;
	width: 346px;
	height: 63px;
	border: 3px solid black;
	color: rgb(156,167,180);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Yesteryear', cursive;
	font-size: 40px;

}

.icon_back {
	position: relative;
	display: inline-block;
	width: 84px;
	height: 84px;
	background-image: url("icons/sprite.png");
	top: -275px; left: 60px; z-index: 5;
	border-radius: 10px;
	border: 1px solid white;
	transform: rotate(-6deg);
	margin-right: 50px;
	z-index: 1;
	margin-top:0;
	margin-bottom: 0;
	padding: 0;
}

.icon_back.icon_facebook{
	background-position: 0 0;
}
.icon_back.icon_drop{
	background-position: -84px 0;
}
.icon_back.icon_p{
	background-position: -168px 0;
}
.icon_back.icon_g{
	background-position: -252px 0;
}
.icon_back.icon_in{
	background-position: -336px 0;
}
.icon_back.icon_pinterest{
	background-position: -420px 0;
}
.icon_back.icon_1{
	background-position: -420px 0;
}
.icon_back.icon_2{
	background-position: -504px 0;
}
.icon_back.icon_3{
	background-position: -588px 0;
}
.icon_back.icon_4{
	background-position: -672px 0;
}
.icon_back.icon_5{
	background-position: -756px 0;
}
